/**ini header**/
*{
    padding: 0;
    margin: 0;
    font: 16px/28px;
}

.logo{
    width: 80%;
    margin:0 auto;
}

header{
    height: 70px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    position: relative;  
}

header img{
    margin-top: -107px;
    margin-left: 50px;
    width: 20%;
}

header ul{
    float: right;
    padding: 0px 80px;
}

header ul li{
    margin-top: 25px;
    display: inline-block;
    padding: 0 11px;
}

header a{
    color: #707070;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    
}

header a:hover{
    color: green;
    font-weight: bold;
}

.submenu{
    background-color: green;
    padding: 10px;
}

.submenu h1{
    color: white;
    padding: 7px 7px;
    margin-left: 4%;
    font-size: 20px;
}

/**ini adalah content**/
.container{
    width: 1200px;
    background-color: white;
}

.main{
    width: 600px;
    border: border-box;
    float: left;
    color: black;
    margin-top: 20px;
    margin-left: 80px;
}

.gambar1{
    height: 400px;
    width: 600px;
    margin-left: 80px;
    margin-top: 50px;
    background-image: url(gambar/artikel2.jpg);
}

.main .penulis{
    font-style: italic;
    font-weight: normal;
    margin-top: 10px;
}

.main p{
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 20px;
}

/**ini yg bagian samping kanan**/
.sidebar{
    float: right;
}

.sidebar h1{
    float: right;
}

.kategori{
    float: right;
    width: 300px;
    color: black;
    margin-right: 28px;
    position: relative;
    bottom: 1450px;
}

.kategori h1{
    padding: 10px;
    right: 20px;
    margin-left: -35px;
}

.kategori a{
    text-decoration: none;
    line-height: 50px;
    position: relative;
    left: 30px;
    marker: none;
}

.kategori a:hover{
    color: white;
    background-color: green;
    font-weight: bold;
    padding: 10px;
}
.container-1{
    position: relative;
    right: 120px;
    padding: 20px 50px;
}

.wrapper{
    position: absolute;
    top: 25%;
    left: 68%;
}

.container-1 h1{
    position: relative;
    right: 230px;
    margin-bottom: 20px;
}

.input{
    width: 200px;
    border: 3px solid #000;
    background: transparent;
    padding: 15px 30px;
    border-radius: 50px;
    color: #000;
    font-size: 12px;
    outline: none;
}

::-webkit-input-placeholder{
    color: black;
    text-transform: uppercase;
}

::-moz-input-placeholder{
    color: black;
    text-transform: uppercase;
}

::-ms-input-placeholder{
    color: black;
    text-transform: uppercase;
}

.close-btn{
    color: white;
    position: absolute;
    top: 77px;
    right: 100px;
    cursor: pointer;
    width: 100px;
    height: 50px;
    background: green;
    border: 0;
    border-radius: 50px;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
}

#pangan{
    padding: 20px;
}

#dagang{
    padding: 20px;
}


.recentpost{
    width: 300px;
    height: 500px;
    float: left;
    margin-top: 80px;
    padding: 20px;
    position: relative;
    bottom: 1160px;
    left: 830px;
}

.recentpost h1{
    margin-bottom: 30px;
}

.recentpost a{
    text-decoration: none;
    position: relative;
    marker: none;
    color: black;
}

.recentpost .img1{
    width: 100px;
    float: left;
    padding-right: 10px;
}

.recentpost .p1{
    position: relative;
    bottom: -15px;
    
}

.recentpost .img2{
    width: 100px;
    float: left;
    padding-right: 10px;
    position: relative;
    right: 110px;
    bottom: -60px;
    top: 80px;
}

.recentpost .p2{
    width: 300px;
    position: relative;
    right: 110px;
    top: 35px;
    left: 110px;
    float: left;
    text-align: left;
}

.recentpost .img3{
    width: 100px;
    float: left;
    padding-right: 10px;
    position: relative;
    right: 110px;
    bottom: -110px;
    left: 0px;
}

.recentpost .p3{
    width: 300px;
    position: relative;
    top: 70px;
    left: 110px;
    text-align: left;
    float: left;
}

.recentpost .img4{
    width: 100px;
    float: left;
    padding-right: 10px;
    position: relative;
    bottom: -140px;
}

.recentpost .p4{
    width: 300px;
    position: relative;
    right: 110px;
    float: left;
    text-align: left;
    left: 110px;
    bottom: -100px;
}

/**ini komentar**/
.komentar{
    width: 600px;
    margin-left: 50px;
    position: relative;
    top: 100px;
    right: 290px;
}

.isi-komentar{
    margin-left: 80px;
    position: relative;
    left: 30px;
}

#nama {
    float: left;
    padding: 10px;
    border-radius: 50px;
}

#email{
    padding: 10px;
    border-radius: 50px;
    position: relative;
    right: 110px;
}

#text-komentar{
    float: right;
    position: relative;
    bottom: 450px;
    left: 105px;
}

#tombol{
    position: relative;
    top: 80px;

}

/**ini footer**/
.footer{
    width: 1349px;
    position: relative;
    top: 400px;
    height: max-content;
    background-color: #333;
}

.footer .copy{
    color: white;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.footer .design{
    color: white;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}


/**ini adalah clear fix**/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}